03-wsdl/EmbassyWebServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>

    <wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://hw2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://hw2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://hw2">
            <xs:element name="reviewDocumentsAndGiveInterviewDate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="reviewDocumentsAndGiveInterviewDateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkIfApplicantAttendedInterview">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="args0" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkIfApplicantAttendedInterviewResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkIfApplicantAttendedInterviewRequest">
        <wsdl:part name="parameters" element="ns:checkIfApplicantAttendedInterview"/>
    </wsdl:message>
    <wsdl:message name="checkIfApplicantAttendedInterviewResponse">
        <wsdl:part name="parameters" element="ns:checkIfApplicantAttendedInterviewResponse"/>
    </wsdl:message>
    <wsdl:message name="reviewDocumentsAndGiveInterviewDateRequest">
        <wsdl:part name="parameters" element="ns:reviewDocumentsAndGiveInterviewDate"/>
    </wsdl:message>
    <wsdl:message name="reviewDocumentsAndGiveInterviewDateResponse">
        <wsdl:part name="parameters" element="ns:reviewDocumentsAndGiveInterviewDateResponse"/>
    </wsdl:message>
    <wsdl:portType name="EmbassyWebServicesPortType">
        <wsdl:operation name="checkIfApplicantAttendedInterview">
            <wsdl:input message="ns:checkIfApplicantAttendedInterviewRequest" wsaw:Action="urn:checkIfApplicantAttendedInterview"/>
            <wsdl:output message="ns:checkIfApplicantAttendedInterviewResponse" wsaw:Action="urn:checkIfApplicantAttendedInterviewResponse"/>
        </wsdl:operation>
        <wsdl:operation name="reviewDocumentsAndGiveInterviewDate">
            <wsdl:input message="ns:reviewDocumentsAndGiveInterviewDateRequest" wsaw:Action="urn:reviewDocumentsAndGiveInterviewDate"/>
            <wsdl:output message="ns:reviewDocumentsAndGiveInterviewDateResponse" wsaw:Action="urn:reviewDocumentsAndGiveInterviewDateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmbassyWebServicesSoap11Binding" type="ns:EmbassyWebServicesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkIfApplicantAttendedInterview">
            <soap:operation soapAction="urn:checkIfApplicantAttendedInterview" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="reviewDocumentsAndGiveInterviewDate">
            <soap:operation soapAction="urn:reviewDocumentsAndGiveInterviewDate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EmbassyWebServicesSoap12Binding" type="ns:EmbassyWebServicesPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="checkIfApplicantAttendedInterview">
            <soap12:operation soapAction="urn:checkIfApplicantAttendedInterview" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="reviewDocumentsAndGiveInterviewDate">
            <soap12:operation soapAction="urn:reviewDocumentsAndGiveInterviewDate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmbassyWebServices">
        <wsdl:port name="EmbassyWebServicesHttpSoap11Endpoint" binding="ns:EmbassyWebServicesSoap11Binding">
            <soap:address location="http://localhost:8080//services/hw2/EmbassyWebServices"/>
        </wsdl:port>
        <wsdl:port name="EmbassyWebServicesHttpSoap12Endpoint" binding="ns:EmbassyWebServicesSoap12Binding">
            <soap12:address location="http://localhost:8080//services/hw2/EmbassyWebServices"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
